requirements.txt
annotated-doc
annotated-types==0.7.0
anyio
asttokens
backports.zstd
Brotli
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
diskcache==5.6.3
distro==1.9.0
et_xmlfile==2.0.0
exceptiongroup
executing
filelock
fsspec
groq==1.0.0
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface_hub
hyperframe
idna
ipykernel
ipython
jedi
Jinja2==3.1.6
joblib==1.5.3
jupyter_client
jupyter_core
markdown-it-py
MarkupSafe==3.0.3
matplotlib-inline
mdurl
nest_asyncio
ninja==1.13.0
numpy==2.2.6
openpyxl==3.1.5
packaging
pandas==2.3.3
parso
pickleshare
platformdirs
prompt_toolkit
psutil
pure_eval
pydantic==2.12.5
pydantic_core==2.41.5
Pygments
PySocks
python-dateutil
python-dotenv
pytz==2025.2
PyYAML
pyzmq
requests
rich
shellingham
six
sniffio
stack_data
tornado
tqdm
traitlets
typer==0.24.0
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
underthesea==9.2.11
underthesea_core==3.3.0
urllib3
wcwidth
llama-cpp-python>=0.2.78
